:root {
  --creamy-white: #edeee7;
  --sky-yellow: #f6f6c4;
  --earth-orange: #DEA139;
  --super-brown: #453525;
  --grass-green: #3F4601;
}

span.line {
  display: inline-block;
}

.inner-shadow {
  -webkit-box-shadow: inset 0 0 10px rgba(69, 53, 37, 0.4);
          box-shadow: inset 0 0 10px rgba(69, 53, 37, 0.4);
}

.subtle-shadow {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(69, 53, 37, 0.05);
          box-shadow: 1px 1px 2px 1px rgba(69, 53, 37, 0.05);
}

.FBI-btn {
  border-radius: 11px !important;
  margin: 5px !important;
  background-color: #3F4601;
  color: #edeee7;
  border-color: rgba(63, 70, 1, 0.7);
  color: #f6f6c4;
}

body {
  background-color: #edeee7;
  color: #453525;
  font-family: "Raleway", sans-serif;
}

body .cowlogo {
  width: 50px;
  fill: #453525;
}

@media only screen and (max-width: 560px) {
  body .navbar-brand-text {
    display: none;
  }
}

body p, body .btn, body ul, body a, body a:hover {
  font-family: "Raleway", sans-serif;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Nanum Myeongjo", serif;
}

body a {
  color: inherit;
  text-decoration: none;
}

body a:hover {
  color: inherit;
}

body b {
  font-weight: bold;
}

body .hamburgericon {
  height: 1.2em;
  fill: #453525;
  margin-top: 0;
  margin-bottom: .5rem;
}

body .nav-panel {
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% - 1%);
  top: 0.5%;
  left: 0.5%;
  position: fixed;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

body .nav-panel.scrolled, body .nav-panel.expanded {
  background-color: rgba(248, 248, 241, 0.93);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(69, 53, 37, 0.05);
          box-shadow: 1px 1px 2px 1px rgba(69, 53, 37, 0.05);
}

body .nav-panel .navbar {
  width: 989px;
  max-width: 100%;
}

body .nav-panel .navbar .container-fluid {
  padding: 0;
}

@media only screen and (max-width: 1079px) {
  body .nav-panel .navbar {
    width: 720px;
  }
  body .nav-panel .navbar .container-fluid {
    padding: 0 15px;
  }
}

body .nav-panel .navbar .navbar-brand {
  font-family: "Nanum Myeongjo", serif;
  padding-left: 3px;
}

body .nav-panel .navbar .nav-link {
  color: inherit;
}

body .nav-panel .navbar .nav-link.disabled {
  color: rgba(69, 53, 37, 0.5);
}

body .nav-panel .navbar .navbar-toggler {
  padding-right: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .nav-panel .navbar .navbar-collapse {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 1%);
  top: 0.5%;
  left: 0.5%;
}

body .nav-panel .navbar .dropdown-item {
  color: #453525;
}

body .nav-panel .navbar .dropdown-menu {
  background-color: #f8f9f6;
}

body .subdir-header-image-section {
  height: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../src/images/page-title-image.jpg"), rgba(237, 238, 231, 0.5);
  background-position: left center;
  background-size: 100%;
  background-blend-mode: luminosity;
  color: #453525;
}

@media only screen and (max-width: 1200px) {
  body .subdir-header-image-section {
    height: 40vw;
  }
}

@media only screen and (max-width: 720px) {
  body .subdir-header-image-section {
    height: 70vw;
    background-size: cover;
    background-position: left -68px center;
  }
}

body .subdir-header-image-section h1 {
  font-size: calc(1.375rem + 3vw);
}

body .subdir-header-image-section .page-title-rect {
  color: #453525;
  padding: 4% 14%;
  margin-top: 4%;
}

@media only screen and (max-width: 450px) {
  body .subdir-header-image-section .page-title-rect {
    margin-top: 14%;
  }
}

body .subdir-header-image-section .page-title-rect .page-title-group {
  margin: 20px;
  margin-left: 25px;
  text-align: center;
}

body .subdir-header-image-section .page-title-rect .page-title-group .hero-punchline {
  margin-left: 20px;
}

body .site-inner {
  margin: auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .site-inner main {
  margin: 0;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 720px;
  max-width: 100vw;
}

body .site-inner main .FBI-max-width {
  width: 100%;
  border-radius: 2px;
  padding: 30px;
  margin-bottom: 30px;
  background: #f8f8f1;
}

body .site-inner aside {
  margin: 0;
  padding: 0 15px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
  max-width: 989px;
}

@media only screen and (max-width: 1079px) {
  body .site-inner aside {
    width: 720px;
  }
}

body .site-inner aside .sidebar-block {
  width: 100%;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 2px;
  text-align: center;
}

body .site-inner aside .sidebar-block.side-a {
  background: #DEA139;
  color: lighthen(#453525, 90%);
}

body .site-inner aside .sidebar-block .so-me-icons {
  width: 100%;
  margin: 30px 0;
  color: #f6f6c4;
}

body .site-inner aside .sidebar-block .so-me-icons .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .site-inner aside .sidebar-block .so-me-icons .row .fab {
  text-align: center;
  font-size: 50px;
}

body .site-inner aside .sidebar-block .so-me-icons .row .col {
  padding: 0;
}

@media only screen and (max-width: 720px) {
  body .site-inner main, body .site-inner aside {
    padding: 0 0;
  }
  body .site-inner main .FBI-max-width, body .site-inner aside .sidebar-block {
    padding: 30px 4%;
  }
}

body footer {
  background: url("../src/images/page-title-image.jpg"), rgba(69, 53, 37, 0.82);
  background-position: center bottom;
  background-size: 500%;
  background-blend-mode: darken;
  color: #f6f6c4;
}

body footer .FBI-max-width {
  width: 989px;
  max-width: 100%;
}

body footer .FBI-max-width .col-questions {
  width: 208px;
  margin: auto;
}

body footer .FBI-max-width .site-nav {
  min-width: 260px;
}

@media only screen and (max-width: 1079px) {
  body footer .FBI-max-width {
    width: 720px;
  }
}

body footer p {
  color: #e7ba6d;
}

body footer p a {
  color: #e7ba6d;
}

body footer .btn {
  background: #f6f6c4;
  color: #453525;
  width: 150px;
}

body footer .footericon {
  font-size: 1rem;
}

.hero-section {
  background: url("../src/images/squeezed_hero_1800.jpg");
  background-position: left bottom;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 500px) and (min-height: 500px) {
  .hero-section {
    background-position: -60px bottom;
  }
}

@media (min-aspect-ratio: 6 / 3) {
  .hero-section {
    background-position: left bottom -87px;
  }
}

.hero-section .hero-title-group {
  margin: 20px;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 34vh;
}

.hero-section .hero-title-group .hero-punchline {
  margin-left: 20px;
}

@media only screen and (max-width: 501px) {
  .hero-section .hero-title-group {
    margin-top: 30vh;
  }
}

.key-mission-statement {
  margin: 0 auto;
}

.key-mission-statement h1, .key-mission-statement h2, .key-mission-statement h3, .key-mission-statement h4, .key-mission-statement h5, .key-mission-statement h6 {
  color: #ae781d;
}

.news {
  margin: 0;
}

.news ul {
  padding: 0;
}

.news ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(69, 53, 37, 0.3);
  margin-bottom: 38px;
  padding: 10px 0px;
  padding-bottom: 28px;
}

.news ul li .news-title {
  color: #ae781d;
  padding-bottom: 5px;
}

.news ul li .news-body {
  margin-bottom: 20px;
  margin-top: 28px;
  overflow: auto;
}

.news ul li .news-body img {
  float: left;
  margin-right: 20px;
}

.news ul li .news-date {
  color: #ae781d;
  font-family: "Raleway", sans-serif;
  font-size: 80%;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 18px;
}

.news ul li a {
  text-decoration: underline;
}

.news ul li:last-of-type {
  border: none;
}
/*# sourceMappingURL=styles.css.map */