appdirs==1.4.4
asgiref==3.4.1
backports.zoneinfo==0.2.1
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
distlib==0.3.2
Django==4.0.6
django-ckeditor==6.1.0
django-js-asset==1.2.2
filelock==3.0.12
idna==3.2
libmagic==1.0
Pillow==9.2.0
pipdeptree==2.0.0
python-magic-bin==0.4.14
pytz==2021.1
requests==2.26.0
sentry-sdk==1.5.10
six==1.16.0
sqlparse==0.4.2
svgwrite==1.4.1
urllib3==1.26.6
