{% extends "base.html" %}

{% block title %}{{ block.super }}| Welcome{% endblock %}

{% block header %}
<!-- HERO -->
<div role="complementary" class="hero-section container-fluid hero-section">
    <div class="hero-title-group">
    {% load static %}
        <h1 class="hero-title">Fecobiome Initiative</h1>
        <p class="hero-punchline">
            <span class="line">
                To encourage scientific cooperation,
                dissemination and data transparency
            </span>
        </p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="key-mission-statement d-grid gap-4">

    <h1>About</h1>
    <p><b>Fecobiome Initiative aims</b> to facilitate the advancement of research related to microbial communities
        related to the GIT. </p>
    <p><b>Our vision</b> is to offer viable solutions in cattle husbandry, including the reduction of zoonotic/AMR risks
        and animal pathogens, as well as limiting or optimizing the use of antibiotics. We aim to improve animal welfare
        while enhancing quality and safety of meat and dairy production.
    </p>

    <b>Our mission </b>
    <ol class="n" style="list-style-type: lower-roman;">
        <li>To bring together and coordinate collaboration among members of the scientific community who are interested
            in the study of gut microbes residing in the GIT of cattle</li>
        <li>To disseminate knowledge</li>
        <li>To facilitate open-sourceness through sharing of available protocols, relevant material and isolated
            microbial
            strains; and by making data more accessible to the public.</li>
    </ol>
    <p><b>For more information</b> about our background and goals please read <a href="#"><u>the Fecobiome Initiative
                announcement
                paper.</u></a>
    </p>

</div>

{% endblock %}