{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block header %}
<!-- HERO -->
<div role="complementary" class="container-fluid hero-section">
    <div class="hero-title-group">
        <h1 class="hero-title">Fecobiome Initiative</h1>
        <p class="hero-punchline">Because very crappy cows are very happy cows!</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="key-mission-statement d-grid gap-4">

    <h1>About us</h1>
    <p><b>We beleive in things.</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non esse, aut quas
        nostrum excepturi aliquid.
        Repellendus, nihil. Totam culpa pariatur aliquam ex eveniet? Sed iusto, quod accusamus voluptates enim
        hic quam pariatur harum sint architecto, temporibus nisi eum ipsum sunt praesentium aperiam nobis totam.
        Dolorum ratione officia totam iusto suscipit!</p>
    <p><b>Magnificent methodics.</b> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa aperiam
        accusantium aspernatur quasi
        iusto dolore quibusdam quaerat beatae, id consectetur totam at eaque dolor blanditiis ullam quos
        pariatur ad fugiat.</p>
    <p><b>We set goals and acheive things.</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed,
        voluptate? Harum cumque omnis facere?
        Saepe perferendis accusamus quae animi quam excepturi neque expedita officia aperiam qui? Totam facere
        velit necessitatibus repudiandae dolor officia corporis mollitia.</p>
    <p>
        <b>Selection of brilliant feats.</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi
        inventore, architecto quas quia
        sapiente ullam?
    <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
    </ul>
    </p>
</div>

{% endblock %}