{% extends "base.html" %}

{% block title %}{{ block.super }}| WikiCow{% endblock %}
{% block pagetitle %}WikiCow{% endblock %}

{% block content %}
<h2>
    Welcome to WikiCow
</h2>
<br><br>
<p>Moo</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure provident ratione laboriosam doloribus sequi quam
    nesciunt, at voluptatibus veniam facilis vero dolor repellat ipsum expedita corrupti quidem nam delectus quis modi
    beatae? Sit ipsam earum repudiandae et excepturi, illum officia dicta beatae accusantium. Nulla deleniti commodi
    aliquam voluptatum, ea a beatae. Et?</p>
{% endblock %}