:root {
  --creamy-white: #edeee7;
  --sky-yellow: #f6f6c4;
  --earth-orange: #DEA139;
  --super-brown: #453525;
  --grass-green: #3F4601;
}

.dataTables_wrapper a {
  text-decoration: underline;
  -webkit-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
}

.dataTables_wrapper a:hover {
  color: #DEA139;
}

.dataTables_wrapper .dt-buttons {
  margin-bottom: 30px;
}

.dataTables_wrapper .btn-secondary {
  border-radius: 11px !important;
  margin: 5px !important;
  background-color: #3F4601;
  color: #edeee7;
  border-color: rgba(63, 70, 1, 0.7);
}

.dataTables_wrapper .btn-secondary:hover {
  background-color: #565f01;
}

.dataTables_wrapper .table {
  color: #3F4601;
}

.dataTables_wrapper .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(63, 70, 1, 0.05);
  color: #453525;
}

.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before, .dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
  background-color: #DEA139;
  color: #edeee7;
}

.dataTables_wrapper .dropdown-menu {
  background-color: #edeee7;
}

.dataTables_wrapper .dropdown-menu .dropdown-item {
  background-color: #f6f6c4;
  color: rgba(69, 53, 37, 0.7);
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.dataTables_wrapper .dropdown-menu .dropdown-item:hover {
  background-color: #f2f3ae;
}

.dataTables_wrapper .dropdown-menu .dropdown-item.active {
  background-color: inherit;
  color: #453525;
}

.dataTables_wrapper .dropdown-menu .dropdown-item.active:hover {
  background-color: #e4e6db;
}

#loading-div {
  text-align: center;
  margin: 50px 0;
  font-size: large;
  -webkit-animation: pulse 3s infinite;
          animation: pulse 3s infinite;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

body .site-inner main .resources-search-section {
  background-color: #DEA139;
  color: #453525;
  margin: 0 auto 30px auto;
  max-width: 989px;
}

body .site-inner main .resources-search-section input {
  background-color: #d19023;
  border: none;
  border-radius: 2px;
}

body .site-inner main .resources-search-section input::-webkit-input-placeholder {
  color: rgba(69, 53, 37, 0.6);
}

body .site-inner main .resources-search-section input:-ms-input-placeholder {
  color: rgba(69, 53, 37, 0.6);
}

body .site-inner main .resources-search-section input::-ms-input-placeholder {
  color: rgba(69, 53, 37, 0.6);
}

body .site-inner main .resources-search-section input::placeholder {
  color: rgba(69, 53, 37, 0.6);
}

body .site-inner main .resources-search-section .form-control:focus {
  -webkit-box-shadow: inset 0 0 10px rgba(69, 53, 37, 0.4);
          box-shadow: inset 0 0 10px rgba(69, 53, 37, 0.4);
  background-color: #d99624;
}

body .site-inner main .resources-search-section .input-group .input-group-text {
  background: #f6f6c4;
  color: #453525;
  border-radius: 2px;
}

body .site-inner main .resources-search-section .showall {
  margin-left: 30px !important;
}

body .site-inner main .resources-search-section input:-internal-autofill-selected {
  background-color: #d99624;
}

body .site-inner main .rrow {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 460px;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .site-inner main .rrow .col-wrapper {
  padding: 15px;
}

body .site-inner main .rrow .col-wrapper .rcol {
  border-radius: 10px;
  width: 200px;
  height: 180px;
  max-width: 100%;
  background-color: #453525;
  color: #DEA139;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .site-inner main .rrow .col-wrapper .rcol .card-header, body .site-inner main .rrow .col-wrapper .rcol .card-footer {
  background: none;
  border: none;
}

body .site-inner main .rrow .col-wrapper .rcol .fas, body .site-inner main .rrow .col-wrapper .rcol svg {
  stroke: #DEA139;
  stroke-width: 8pt;
  max-width: 64px;
  font-size: 50px;
  text-align: center;
  margin-top: auto;
}

body .site-inner main .rrow .col-wrapper .rcol .card-footer {
  margin-top: auto;
}

body .site-inner main .rrow .col-wrapper .rcol .card-footer b {
  color: #f6f6c4;
}
/*# sourceMappingURL=styles.css.map */