{% extends "admin/base.html" %}

{% block content %}
<div style="max-width: 500px;">

    <p>Upload a tab-separated txt file with header "doi" and one column of dois. Make sure dois are not http links. If a
        doi already exists the entry is updated.</p>
</div>
<form action="." method="POST" enctype="multipart/form-data">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Upload File</button>
</form>
<p>Example:</p>
<img style="max-width: 250px;" src="{% load static %} {% static 'images/doi_file_example.png' %}"
    alt="example of doi file">
{% endblock %}