.dl-link-div {
    margin-bottom: 30px;
    .select-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        .btn-secondary {
            border-radius: 11px !important;
            margin: 5px !important;
            background-color: $grass-green;
            color: $creamy-white;
            border-color:rgba($grass-green, 0.7);
            &:hover {
                background-color: lighten($grass-green, 5%);
            }
        }
    }
}

.dataTables_wrapper {
    a {
        text-decoration: underline;
        transition: color .15s ease-in-out;
        &:hover {
            color: $earth-orange;
        }
    }
    .dt-buttons {
        margin-bottom: $FBI-favourite-spacing;
    }
    .btn-secondary {
        border-radius: 11px !important;
        margin: 5px !important;
        background-color: $grass-green;
        color: $creamy-white;
        border-color:rgba($grass-green, 0.7);
        &:hover {
            background-color: lighten($grass-green, 5%);
        }
    }
    .table {
        color: $grass-green;
    }
    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: rgba($grass-green, 0.05);
        color: $super-brown;
    }
    table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
        background-color: $earth-orange;
        color: $creamy-white;
    }
    .dropdown-menu {
        background-color: $creamy-white;
        .dropdown-item {
            background-color: $sky-yellow;
            color: rgba($super-brown, 0.7);
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            &:hover {
                background-color: darken($sky-yellow, 5%);
            }
            &.active {
                background-color: inherit;
                color: $super-brown;
                &:hover {
                    background-color: darken($creamy-white, 4%);
                }
            }
        }
    }
}
    #loading-div {
    text-align: center;
    margin: 50px 0;
    font-size: large;
    animation: pulse 3s infinite;
}
@keyframes pulse {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }

  }

  body .site-inner main {

    .resources-search-section {
        background-color: $earth-orange;
        color: $super-brown;
        margin: 0 auto $FBI-favourite-spacing auto;
        max-width: $navbar-when-sidebar-expanded;
        input {
            background-color: darken($earth-orange, 7%);
            border: none;
            border-radius: $FBI-border-radius;
        }
        input::placeholder {
            color: rgba($super-brown, 0.6);
        }
        .form-control:focus {
            box-shadow: $inner-shadow;
            background-color: darken($earth-orange, 5%);
        }
        .input-group .input-group-text {
            background: $sky-yellow;
            color: $super-brown;
            border-radius: $FBI-border-radius;
        }
        .showall {
            margin-left: $FBI-favourite-spacing !important;
        }
        input:-internal-autofill-selected {
            background-color: darken($earth-orange, 5%);
        }
    }

    .rrow {
        justify-content: flex-start;
        display: flex;
        width: 460px; // Based on width of rcol (200) + padding of col-wrapper (2x15)
        margin: auto;
        flex-wrap: wrap;
        flex-direction: row;


        .col-wrapper {
            padding: 15px;
            .rcol {
                border-radius: 10px;
                width: 200px;
                height: 180px;
                max-width: 100%;
                background-color: $super-brown;
                color: $earth-orange;
                align-items: center;
                //padding: $FBI-favourite-spacing;
                // padding-bottom: 15px;
                // display: flex;
                // flex-direction: column;
                .card-header, .card-footer {
                    background: none;
                    border: none;
                }
                .fas, svg {
                    stroke: $earth-orange;
                    stroke-width: 8pt;
                    max-width: 64px;
                    font-size: 50px;
                    text-align: center;
                    margin-top: auto;
                }

                .card-footer {
                    margin-top: auto;
                    b {
                        color: $sky-yellow;
                    }
                        
                }
            }

        }

    }
}
        
        