.profile_pic {
    background: $sky-yellow; 
    width: 80px; 
    height: 80px;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 85%;
        margin-top: 8px;
    }
}

.profile-box {
    max-width: 400px;
    p {
        margin-bottom: 0rem;
    }
    .profile-name {
        font-weight: 600;
    }
    .profile-visibility {
        font-style: italic;
        color: rgba($super-brown, 0.5);
    }

}