{% extends "admin/base.html" %}
{% load static %} 
{% block content %}
<div class="center-content">
    <div class="form-intro upload-div ">
        <div class="upload-form">
            <form action="." method="POST" enctype="multipart/form-data">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit">Upload File</button>
            </form>
        </div>
        <div class="upload-div upload-intro">
            <div>
                <p>Upload a tab-separated txt file with header "doi" and one column of dois.</p>
                <ul>
                    <li>Make sure dois are not http links.</li>
                    <li>Make sure the text in the file is unformatted/plain text</li>
                    <li>If a doi already exists the entry is updated.</li>
                    <li>If a doi already exists the entry is updated.</li>
                </ul>
                <p>Download template files with all headers:</p>
                <div class="download-links">
                    <a class="download-link txt" href="{% static 'admin/example_files/publication_template.txt' %}" download>Template file.txt</a>
                    <a class="download-link xlsx" href="{% static 'admin/example_files/publication_template.xslx' %}" download>Template file.xlsx</a>
                </div>
            </div>
        </div>
    </div>

    {% if failed_uploads %}
    <div class="upload-div upload-problems">
        <p>
        The following dois could not be fetched automatically. You might have to add the entries manually:
            <ul>
                {% for doi in failed_uploads %}
                <li>{{ doi }}</li>
                {% endfor %}
            </ul>
        </p>
    </div>
    {% endif %}

    <div class="upload-div upload-example">
        <p>Example:</p>
        <div class="image-wrapper">
            <img width="250" src="{% static 'admin/images/doi_file_example.png' %}"
                alt="example of doi file">
        </div>
    </div>


{% endblock %}
