{% extends "base.html" %}

{% block title %}News{% endblock %}
{% block pagetitle %}News{% endblock %}

{% block content %}
<div class="news">
    <ul>


        {% for post in posts %}
        <li>
            <h4 class="news-title">
                <span>{{ post.title }}</span>
            </h4>
            <div class="news-date">By {{ post.author.profile.display_name }} {{ post.created_date |date:'Y-m-d H:i' }}</div>
                {% if post.body %}
                <div class="news-body" >
                    
                        {% if post.image %}
                        <img width="200" height="200" style="" src="/media/{{ post.image }}" alt="image for this post">
                        {% endif %}
                        {{ post.body | safe }}
                    
                </div>
                {% endif %}
        </li>
        {% endfor %}



    </ul>
</div>
{% endblock %}