{% extends "resources/search.html" %}
{% load static %}
{% block extrahead %}
<!-- search resources specific SEO tags -->
<meta name="title" content="Fecobiome Initiative | Publications">
<meta property="og:title" content="Fecobiome Initiative | Publications">

<meta name="description" content="The resource section contains metadata related to studies of importance to FI; Hence it is divided to sequencing data metadata, publications, (and soon) microbial isolations and protocols.">
<meta name="keywords" content="cattle, bovine, feces, microbiome, microbiota, gastrointestinal tract, gut, intestine, antimicrobial resistance, zoonotes, pathogens, metadata, resources, sequencing data">

<meta property="og:url" content="https://www.fecobiome.com/resources/publications/">
<meta property="og:description" content="The resource section contains metadata related to studies of importance to FI; Hence it is divided to sequencing data metadata, publications, (and soon) microbial isolations and protocols.">

<link rel="canonical" href="http://www.fecobiome.com/resources/publications/">
{% endblock extrahead %}
{% block title %}{{ block.super }}| Publications {% endblock title %}

{% block search_url %} {% url 'resources-publications' query %} {% endblock search_url %}

{% block content %}
<div id="loading-div">Loading table...</div>
<div id="hide-datatable" style="display: none;">

<table id="fi-datatable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th> doi </th>
                <th> authors </th>
                <th> year </th>
                <th> title </th>
                <th> type </th>
            </tr>
        </thead>

        <tbody>
        {% for object in publications %}
            <tr>
                <td><a href="{{ object.link }}" target="_blank">{{ object.doi }}</a></td>
                <td> {{ object.authors }} </td>
                <td> {{ object.year }} </td>
                <td> {{ object.title }} </td>
                <td> {{ object.type }} </td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <th> doi </th>
                <th> authors </th>
                <th> year </th>
                <th> title </th>
                <th> type </th>
            </tr>
        </tfoot>
    </table>
</div>


{% endblock content %}

