{% extends "resources/resources.html" %}
{% load static %}

{% block extrahead %}
    <!-- Dataatables links-->
    <!--link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css" rel="stylesheet"-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/cr-1.5.4/fh-3.1.9/kt-2.6.2/r-2.2.9/sc-2.0.4/sp-1.3.0/sl-1.3.3/datatables.min.css"/>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    {% comment %} <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js" crossorigin="anonymous"></script> {% endcomment %}
    
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/cr-1.5.4/fh-3.1.9/kt-2.6.2/r-2.2.9/sc-2.0.4/sp-1.3.0/sl-1.3.3/datatables.min.js"></script>
    <!-- Custom style overrides -->
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/resources/styles.css' %}">
{% endblock extrahead %}

{% block title %}{{ block.super }} | {{ title }}{% endblock title %}
{% block pagetitle %}{{ title }}{% endblock %}

{% block datatable %}

Yolo

{% endblock datatable %}

{% block endscript %}
        <script src="{% static 'scripts/resources_scripts.js' %}"></script>
{% endblock endscript %}