{% extends "base.html" %}

{% block extrahead %}
    <meta name="title" content="Fecobiome Initative | Contact us">
    <meta property="og:title" content="Fecobiome Initiative | Contact us">

    <meta name="description" content="This contact form can be used for feedback and suggestions, or as a means for scientists that wish to be part of the FI.">
    <meta name="keywords" content="cattle, bovine, feces, microbiome, microbiota, gastrointestinal tract, gut, intestine, antimicrobial resistance, zoonotes, pathogens, research dissemination, data transparency, open sourceness, metadata, email, contact us">

    <meta property="og:url" content="https://www.fecobiome.com/contact/">
    <meta property="og:description" content="This contact form can be used for feedback and suggestions, or as a means for scientists that wish to be part of the FI.">

    <link rel="canonical" href="http://www.fecobiome.com/contact/">
{% endblock extrahead %}

{% block title %}{{ block.super }}| Contact us{% endblock %}
{% block pagetitle %}Contact us{% endblock %}

{% block content %}

    <form action="{% url 'contact-home' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-secondary FBI-btn" type="submit" name="contact_submit" value="Submit">
    </form>

{% endblock %}

