{% extends "base.html" %}

{% block extrahead %}
    <meta name="title" content="Fecobiome Initative | Cancel membership">
    <meta property="og:title" content="Fecobiome Initiative | Unsibscribe">

    <meta name="description" content="Cancel your membership with FI">
    <meta name="keywords" content="cattle, bovine, feces, microbiome, microbiota, gastrointestinal tract, gut, intestine, antimicrobial resistance, zoonotes, pathogens, research dissemination, data transparency, open sourceness, metadata, email, unsubscribe">

    <meta property="og:url" content="https://www.fecobiome.com/unsubscribe/">
    <meta property="og:description" content="Cancel your membership with FI">

    <link rel="canonical" href="http://www.fecobiome.com/unsubscribe/">
{% endblock extrahead %}

{% block title %}{{ block.super }}| Cancel membership{% endblock %}
{% block pagetitle %}Cancel membership{% endblock %}

{% block content %}
{% if unsubscribed %}
<p>Your membership has been cancelled. We hope to see you again!</p>
{% else %}
    <p>Cancel your FI membership by clicking the cancellation link in a newsletter or contact us.</p>
{% endif %}

{% endblock %}

