{% extends "base.html" %}

{% block extrahead %}
    <meta name="title" content="Fecobiome Initative | Cancel membership">
    <meta property="og:title" content="Fecobiome Initiative | Unsibscribe">

    <meta name="description" content="Cancel your membership with FI">
    <meta name="keywords" content="cattle, bovine, feces, microbiome, microbiota, gastrointestinal tract, gut, intestine, antimicrobial resistance, zoonotes, pathogens, research dissemination, data transparency, open sourceness, metadata, email, unsubscribe">

    <meta property="og:url" content="https://www.fecobiome.com/unsubscribe/">
    <meta property="og:description" content="Cancel your membership with FI">

    <link rel="canonical" href="http://www.fecobiome.com/unsubscribe/">
{% endblock extrahead %}

{% block title %}{{ block.super }}| Cancel membership{% endblock %}
{% block pagetitle %}Cancel membership{% endblock %}

{% block content %}
<div class="cancel-form-wrapper">
    
    {% if unsubscribe_allowed %}
        <p id="ajax-unsubscribe-text">Please confirm that you wish to cancel your membership.</p>

        <form action="" id="cancellation-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button id="cancel-membership-btn" class="btn btn-secondary FBI-btn" type="submit" name="cancel_membership" data-url="{% url 'unsubscribe' %}">
                    Cancel membership
            </button>
            <ul class="errors">
            </ul>
        </form>
    {% else %}
        <p>Cancel your FI membership by clicking the cancellation link in a newsletter.</p>
        <p>If you have no newsletter with a cancellation link please <a href="{% url 'contact-home' %}" style="font-weight: bold;" "">contact us</a> to cancel your membership. This is done to ensure that people cannot cancel each other's memberships.</p>
    {% endif %}


</div>


{% endblock %}

