// The html for this is in change_list_results.html
.custom-btns-div {
    padding: 10px;

    .custom-column-label {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        line-height: 24px;
        color: var(--body-quiet-color);
    }
    .custom-column-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .collapse-column-btn {
            border: 1px solid lightgrey;
            margin: 3px;
            padding: 6px;
            font-size: smaller;
            border-radius: 15px;
        }
    }
}

.hidden-column {
    display: none;
}
.selected {
    background-color: rgb(196, 196, 196);
    color:rgb(117, 117, 117)
}

