{% extends "admin/base.html" %}

{% block content %}
<div style="max-width: 900px;">

    <p>Upload a tab-separated txt file with the following headers (no commas)*:
    </p>
    <p>run_accession,	sample_type,	location,	farm_name,	farm_size,	animal,	antibiotics	host,	age_months,	diet,	sample_date_dmy,	doi</p>

    <form action="." method="POST" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Upload File</button>
    </form>

    <!-- Error feedback -->
    {% if feedback.field_problems %}
    <p>
    Feedback from latest upload::
    <ul>
        {% for runacc, messages in feedback.field_problems.items %}
        <li>Entry with run_accession &lt {{ runacc }}' &gt:
            <ul>
                {% for line in messages %}
                <li>{{ line }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    These fields will be empty, but can be added manually.
    </p>
    {% endif %}


    {% if feedback.missing_headers %}
    <p>
    The document is missing some headers:
    <ul>
        {% for item in feedback.missing_headers %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    </p>
    {% endif %}


    {% if feedback.invalid_rows %}
    <p>
    Invalid rows:
        <ul>
                {% for item in feedback.invalid_rows %}
                <li>[{{ item }}]</li>
                {% endfor %}
        </ul>
    </p>
    <p>Make sure all columns are represented (even empty ones), and that run_accession and sample_type have data.</p>
    {% endif %}

    {% if feedback.success %}
    <p>
    Created data sets:
        <ul>
                {% for item in feedback.success %}
                <li>[{{ item }}]</li>
                {% endfor %}
        </ul>
    </p>
    <p>Make sure all columns are represented (even empty ones), and that run_accession and sample_type have data.</p>
    {% endif %}

    <!-- Rules -->
    <p>*Rules:
        <ul>
            <li>Headers have no quotes and must be lower case</li>
            <li>All headers must be present even if some fields are empty</li>
            <li>Make sure the text in the file is unformatted/plain text</li>
            <li>run_accession and sample_type are required, but other fields can be empty</li>
            <li>If a field other than run_accession or sample_type is invalid, the row will be added with this field empty</li>
            <li>If the API for some reason can't fetch a given doi this field will also be empty</li>
            <li>It is recommended to leave dataless fields empty to avoid unneccesary invalid warnings. Also the database cannot tell the difference between fx the strings 'NA' and 'France' - both will be stored.</li>
            <li>Mind these field formats:
                <ul>
                    <li>'farm_size' must be a whole number</li>
                    <li>'age_months' can be a decimal, but only numbers</li>
                    <li>'sample_date_dmy' must be of the format dd-mm-yyyy, dd mm yyyy or dd.mm.yyyy</li>
                </ul>
            </li>
        </ul>
     </p>
     
</div>
<p>Example (scroll content if bigger than window):</p>
<div style="max-width: 100vw; overflow: scroll;">
    <img style="max-width: 1200px" src="{% load static %} {% static 'images/data_file_example.png' %}"
        alt="example of doi file">
</div>
{% endblock %}